# API keys and secrets
.env

# Dependency directory
node_modules

# Editors
.vscode

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# ignore .lock
package-lock.json


#dev files
build/
pages/api/crunch/upload/
pages/api/profile/upload/

#misc
.git/

#debug
.log
report.*
npm-debug.log*

