#dependencies
node_modules/

# #next.js
# /out/
# /.next/

#production
build/
control/
pages/api/crunch/upload/
pages/api/profile/upload/

#misc
.git/
.vscode/
.DS_Store
package-lock.json

#debug
.log
report.*
npm-debug.log*

#local env files
/*.env
